{
  "openapi": "3.1.0",
  "info": {
    "title": "UrbnBox integration API",
    "version": "1.0.0",
    "description": "Create locker bookings and shipments, discover stores, and connect Shopify."
  },
  "servers": [
    {
      "url": "https://portal.urbnbox.io",
      "description": "UrbnBox production and test-key server"
    }
  ],
  "tags": [
    {
      "name": "Shipments",
      "description": "Quote, create, and retrieve partner shipments."
    },
    {
      "name": "Checkout sessions",
      "description": "Hold lockers for partner checkout sessions."
    },
    {
      "name": "Public bookings",
      "description": "Create browser-based locker bookings."
    },
    {
      "name": "Store discovery",
      "description": "Find active UrbnBox stores."
    },
    {
      "name": "Shopify",
      "description": "Callbacks called by Shopify."
    }
  ],
  "paths": {
    "/api/partner/v1/shipment-quote": {
      "post": {
        "tags": ["Shipments"],
        "summary": "Create a shipment quote",
        "description": "Checks locker availability and returns a fee quote. The origin locker is selected by the server.",
        "operationId": "createShipmentQuote",
        "security": [{"partnerKey": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/ShipmentQuoteRequest"},
              "example": {
                "destination_city": "Mombasa",
                "weight_tier": "light",
                "starts_at": "2026-07-05",
                "ends_at": "2026-07-08"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Availability and quote result.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {"$ref": "#/components/schemas/ShipmentQuote"},
                    {
                      "type": "object",
                      "properties": {"available": {"type": "boolean", "const": false}},
                      "required": ["available"]
                    }
                  ]
                }
              }
            }
          },
          "400": {"$ref": "#/components/responses/BadRequest"},
          "401": {"$ref": "#/components/responses/Unauthorized"},
          "403": {"$ref": "#/components/responses/Forbidden"},
          "500": {"$ref": "#/components/responses/ServerError"}
        }
      }
    },
    "/api/partner/v1/shipments": {
      "post": {
        "tags": ["Shipments"],
        "summary": "Create a shipment",
        "description": "Creates a locker-to-locker shipment. This endpoint requires a secret partner key. The deposit PIN is returned only in this response.",
        "operationId": "createShipment",
        "security": [{"partnerKey": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/CreateShipmentRequest"},
              "example": {
                "external_reference": "ORDER-1001",
                "recipient_name": "Jane Mwangi",
                "recipient_phone": "+254712345678",
                "origin_city": "Nairobi",
                "destination_city": "Mombasa",
                "weight_tier": "light",
                "starts_at": "2026-07-05",
                "ends_at": "2026-07-08"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Shipment created.",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/CreatedShipment"}
              }
            }
          },
          "400": {"$ref": "#/components/responses/BadRequest"},
          "401": {"$ref": "#/components/responses/Unauthorized"},
          "403": {"$ref": "#/components/responses/Forbidden"},
          "422": {
            "description": "No lockers are available for the requested route and dates.",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/JSONError"}
              }
            }
          },
          "500": {"$ref": "#/components/responses/ServerError"}
        }
      }
    },
    "/api/partner/v1/shipments/{id}": {
      "get": {
        "tags": ["Shipments"],
        "summary": "Retrieve a shipment",
        "description": "Returns a shipment owned by the authenticated partner.",
        "operationId": "getShipment",
        "security": [{"partnerKey": []}],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Shipment ID returned during creation.",
            "schema": {"type": "string"}
          }
        ],
        "responses": {
          "200": {
            "description": "Current shipment details.",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/Shipment"}
              }
            }
          },
          "401": {"$ref": "#/components/responses/Unauthorized"},
          "403": {"$ref": "#/components/responses/Forbidden"},
          "404": {"$ref": "#/components/responses/NotFound"},
          "500": {"$ref": "#/components/responses/ServerError"}
        }
      }
    },
    "/api/partner/v1/locker-availability": {
      "get": {
        "tags": ["Checkout sessions"],
        "summary": "List locker availability",
        "description": "Returns active locker spaces available for partner checkout.",
        "operationId": "listLockerAvailability",
        "security": [{"partnerKey": []}],
        "responses": {
          "200": {
            "description": "Available locker spaces.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {"$ref": "#/components/schemas/LockerSpace"}
                }
              }
            }
          },
          "401": {"$ref": "#/components/responses/Unauthorized"},
          "500": {"$ref": "#/components/responses/ServerError"}
        }
      }
    },
    "/api/partner/v1/checkout-sessions": {
      "post": {
        "tags": ["Checkout sessions"],
        "summary": "Create a checkout session",
        "description": "Creates a partner checkout session and holds a locker. Supply an Idempotency-Key when retrying a request.",
        "operationId": "createCheckoutSession",
        "security": [{"partnerKey": []}],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Stable key used to prevent duplicate sessions.",
            "schema": {"type": "string"}
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/CreateCheckoutSessionRequest"}
            }
          }
        },
        "responses": {
          "201": {
            "description": "Checkout session created.",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/CheckoutSession"}
              }
            }
          },
          "400": {"$ref": "#/components/responses/BadRequest"},
          "401": {"$ref": "#/components/responses/Unauthorized"},
          "403": {"$ref": "#/components/responses/Forbidden"},
          "500": {"$ref": "#/components/responses/ServerError"}
        }
      }
    },
    "/api/partner/v1/checkout-sessions/{id}": {
      "get": {
        "tags": ["Checkout sessions"],
        "summary": "Retrieve a checkout session",
        "description": "Returns a checkout session owned by the authenticated partner.",
        "operationId": "getCheckoutSession",
        "security": [{"partnerKey": []}],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {"type": "string"}
          }
        ],
        "responses": {
          "200": {
            "description": "Checkout session details.",
            "content": {
              "application/json": {
                "schema": {"$ref": "#/components/schemas/CheckoutSession"}
              }
            }
          },
          "401": {"$ref": "#/components/responses/Unauthorized"},
          "403": {"$ref": "#/components/responses/Forbidden"},
          "404": {"$ref": "#/components/responses/NotFound"},
          "500": {"$ref": "#/components/responses/ServerError"}
        }
      }
    },
    "/api/partner/v1/checkout-sessions/{id}/cancel": {
      "post": {
        "tags": ["Checkout sessions"],
        "summary": "Cancel a checkout session",
        "description": "Cancels a partner checkout session.",
        "operationId": "cancelCheckoutSession",
        "security": [{"partnerKey": []}],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {"type": "string"}
          }
        ],
        "responses": {
          "200": {
            "description": "Session cancelled.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {"status": {"type": "string", "const": "cancelled"}},
                  "required": ["status"]
                }
              }
            }
          },
          "401": {"$ref": "#/components/responses/Unauthorized"},
          "403": {"$ref": "#/components/responses/Forbidden"},
          "500": {"$ref": "#/components/responses/ServerError"}
        }
      }
    },
    "/api/public/stores": {
      "get": {
        "tags": ["Store discovery"],
        "summary": "List public stores",
        "description": "Returns active stores and their locker and shelf capacity.",
        "operationId": "listPublicStores",
        "security": [],
        "responses": {
          "200": {
            "description": "Active public stores.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {"$ref": "#/components/schemas/PublicStore"}
                }
              }
            }
          },
          "500": {"$ref": "#/components/responses/ServerError"}
        }
      }
    },
    "/api/public/stores/nearby": {
      "get": {
        "tags": ["Store discovery"],
        "summary": "Find nearby stores",
        "description": "Returns stores within a radius of a geographic coordinate.",
        "operationId": "findNearbyStores",
        "security": [],
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "required": true,
            "schema": {"type": "number", "format": "double"}
          },
          {
            "name": "lng",
            "in": "query",
            "required": true,
            "schema": {"type": "number", "format": "double"}
          },
          {
            "name": "radius",
            "in": "query",
            "required": false,
            "description": "Search radius in metres. Defaults to 5000.",
            "schema": {"type": "number", "format": "double", "default": 5000}
          }
        ],
        "responses": {
          "200": {
            "description": "Nearby public stores.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {"$ref": "#/components/schemas/PublicStore"}
                }
              }
            }
          },
          "400": {"$ref": "#/components/responses/BadRequest"},
          "500": {"$ref": "#/components/responses/ServerError"}
        }
      }
    },
    "/api/public/locker-bookings/options": {
      "get": {
        "tags": ["Public bookings"],
        "summary": "List public booking options",
        "description": "Returns locker spaces for the browser checkout widget.",
        "operationId": "listPublicBookingOptions",
        "security": [{"publishableKey": []}],
        "responses": {
          "200": {
            "description": "Available spaces.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {"$ref": "#/components/schemas/LockerSpace"}
                }
              }
            }
          },
          "401": {"$ref": "#/components/responses/Unauthorized"},
          "500": {"$ref": "#/components/responses/ServerError"}
        }
      }
    },
    "/api/public/locker-bookings": {
      "post": {
        "tags": ["Public bookings"],
        "summary": "Create a public locker booking",
        "description": "Creates the locker booking used by the checkout widget.",
        "operationId": "createPublicLockerBooking",
        "security": [{"publishableKey": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"$ref": "#/components/schemas/CreatePublicBookingRequest"}
            }
          }
        },
        "responses": {
          "201": {
            "description": "Booking created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {"type": "string"},
                    "confirmation_url": {"type": "string", "example": "/b/public-token"}
                  },
                  "required": ["token", "confirmation_url"]
                }
              }
            }
          },
          "400": {"$ref": "#/components/responses/BadRequest"},
          "401": {"$ref": "#/components/responses/Unauthorized"},
          "500": {"$ref": "#/components/responses/ServerError"}
        }
      }
    },
    "/integrations/shopify/carrier-rates": {
      "post": {
        "tags": ["Shopify"],
        "summary": "Get Shopify carrier rates",
        "description": "Shopify calls this endpoint to request an UrbnBox shipping rate. UrbnBox validates the Shopify HMAC signature.",
        "operationId": "shopifyCarrierRates",
        "security": [{"shopifyHmac": []}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"type": "object", "additionalProperties": true}
            }
          }
        },
        "responses": {
          "200": {
            "description": "A Shopify rates envelope. The rates array is empty when service is unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rates": {
                      "type": "array",
                      "items": {"$ref": "#/components/schemas/ShopifyRate"}
                    }
                  },
                  "required": ["rates"]
                }
              }
            }
          },
          "400": {"$ref": "#/components/responses/BadRequest"},
          "401": {"$ref": "#/components/responses/Unauthorized"},
          "500": {"$ref": "#/components/responses/ServerError"}
        }
      }
    },
    "/integrations/shopify/fulfillment": {
      "post": {
        "tags": ["Shopify"],
        "summary": "Process a Shopify fulfillment",
        "description": "Creates a shipment for a recognized Shopify store when lockers are available.",
        "operationId": "shopifyFulfillment",
        "security": [{"shopifyHmac": []}],
        "parameters": [
          {
            "name": "X-Shopify-Shop-Domain",
            "in": "header",
            "required": true,
            "schema": {"type": "string", "example": "example-store.myshopify.com"}
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {"type": "object", "additionalProperties": true}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledgement. Successful creation includes a shipment ID and tracking URL.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "shipment_id": {"type": "string"},
                    "tracking_url": {"type": "string", "format": "uri"}
                  }
                }
              }
            }
          },
          "401": {"$ref": "#/components/responses/Unauthorized"},
          "500": {"$ref": "#/components/responses/ServerError"}
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "partnerKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Partner key. Shipment creation requires a secret key."
      },
      "publishableKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Publishable key restricted to allowed browser origins."
      },
      "shopifyHmac": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Shopify-Hmac-Sha256",
        "description": "Base64-encoded HMAC-SHA256 signature generated by Shopify."
      }
    },
    "schemas": {
      "ShipmentQuoteRequest": {
        "type": "object",
        "properties": {
          "destination_city": {"type": "string", "example": "Mombasa"},
          "weight_tier": {
            "type": "string",
            "enum": ["light", "medium", "heavy"]
          },
          "starts_at": {"type": "string", "format": "date"},
          "ends_at": {"type": "string", "format": "date"}
        },
        "required": ["destination_city", "weight_tier", "starts_at", "ends_at"]
      },
      "CreateShipmentRequest": {
        "type": "object",
        "properties": {
          "external_reference": {"type": "string", "description": "Your order or fulfillment ID."},
          "recipient_name": {"type": "string"},
          "recipient_phone": {"type": "string", "example": "+254712345678"},
          "origin_city": {"type": "string", "example": "Nairobi"},
          "destination_city": {"type": "string", "example": "Mombasa"},
          "weight_tier": {
            "type": "string",
            "enum": ["light", "medium", "heavy"]
          },
          "starts_at": {"type": "string", "format": "date"},
          "ends_at": {"type": "string", "format": "date"}
        },
        "required": [
          "external_reference",
          "recipient_name",
          "recipient_phone",
          "origin_city",
          "destination_city",
          "weight_tier",
          "starts_at",
          "ends_at"
        ]
      },
      "CreateCheckoutSessionRequest": {
        "type": "object",
        "properties": {
          "external_order_id": {"type": "string"},
          "space_id": {"type": "string"},
          "client_name": {"type": "string"},
          "phone": {"type": "string"},
          "starts_at": {"type": "string", "format": "date"},
          "ends_at": {"type": "string", "format": "date"},
          "amount_cents": {"type": "integer", "format": "int64", "minimum": 0}
        }
      },
      "CreatePublicBookingRequest": {
        "type": "object",
        "properties": {
          "space_id": {"type": "string"},
          "client_name": {"type": "string"},
          "phone": {"type": "string"},
          "starts_at": {"type": "string", "format": "date"},
          "ends_at": {"type": "string", "format": "date"}
        },
        "required": ["space_id", "client_name", "phone", "starts_at", "ends_at"]
      },
      "Locker": {
        "type": "object",
        "properties": {
          "name": {"type": "string"},
          "city": {"type": "string"},
          "address": {"type": "string"}
        },
        "required": ["name", "city", "address"]
      },
      "FeeBreakdown": {
        "type": "object",
        "properties": {
          "origin_locker_fee_cents": {"type": "integer", "format": "int64"},
          "destination_locker_fee_cents": {"type": "integer", "format": "int64"},
          "transit_rider_fee_cents": {"type": "integer", "format": "int64"},
          "platform_fee_cents": {"type": "integer", "format": "int64"},
          "total_cents": {"type": "integer", "format": "int64"}
        },
        "required": [
          "origin_locker_fee_cents",
          "destination_locker_fee_cents",
          "transit_rider_fee_cents",
          "platform_fee_cents"
        ]
      },
      "ShipmentQuote": {
        "type": "object",
        "properties": {
          "available": {"type": "boolean", "const": true},
          "origin_locker": {"$ref": "#/components/schemas/Locker"},
          "destination_locker": {"$ref": "#/components/schemas/Locker"},
          "total_cents": {"type": "integer", "format": "int64"},
          "fee_breakdown": {"$ref": "#/components/schemas/FeeBreakdown"}
        },
        "required": [
          "available",
          "origin_locker",
          "destination_locker",
          "total_cents",
          "fee_breakdown"
        ]
      },
      "CreatedShipment": {
        "allOf": [
          {"$ref": "#/components/schemas/Shipment"},
          {
            "type": "object",
            "properties": {
              "deposit_pin": {
                "type": "string",
                "pattern": "^[0-9]{6}$",
                "description": "One-time deposit PIN. Store it when creating the shipment."
              },
              "deposit_whatsapp_link": {"type": "string", "format": "uri"},
              "collection_whatsapp_link": {"type": "string", "format": "uri"}
            },
            "required": [
              "deposit_pin",
              "deposit_whatsapp_link",
              "collection_whatsapp_link"
            ]
          }
        ]
      },
      "Shipment": {
        "type": "object",
        "properties": {
          "id": {"type": "string"},
          "tracking_token": {"type": "string"},
          "tracking_url": {"type": "string", "format": "uri"},
          "status": {"type": "string"},
          "origin_locker": {"$ref": "#/components/schemas/Locker"},
          "destination_locker": {"$ref": "#/components/schemas/Locker"},
          "fee_breakdown": {"$ref": "#/components/schemas/FeeBreakdown"}
        },
        "required": [
          "id",
          "tracking_token",
          "tracking_url",
          "status",
          "origin_locker",
          "destination_locker",
          "fee_breakdown"
        ]
      },
      "CheckoutSession": {
        "type": "object",
        "properties": {
          "ID": {"type": "string"},
          "PartnerID": {"type": "string"},
          "ExternalOrderID": {"type": ["string", "null"]},
          "SpaceID": {"type": ["string", "null"]},
          "ClientName": {"type": ["string", "null"]},
          "Phone": {"type": ["string", "null"]},
          "StartsAt": {"type": ["string", "null"], "format": "date-time"},
          "EndsAt": {"type": ["string", "null"], "format": "date-time"},
          "AmountCents": {"type": ["integer", "null"], "format": "int64"},
          "Status": {"type": "string"},
          "IdempotencyKey": {"type": ["string", "null"]},
          "CreatedAt": {"type": "string", "format": "date-time"},
          "UpdatedAt": {"type": "string", "format": "date-time"},
          "ExpiresAt": {"type": "string", "format": "date-time"}
        },
        "required": ["ID", "PartnerID", "Status", "CreatedAt", "UpdatedAt", "ExpiresAt"]
      },
      "LockerSpace": {
        "type": "object",
        "description": "The current Go API serializes this model with exported field names.",
        "properties": {
          "ID": {"type": "string"},
          "StoreID": {"type": "string"},
          "StoreName": {"type": "string"},
          "StoreLatitude": {"type": ["number", "null"]},
          "StoreLongitude": {"type": ["number", "null"]},
          "Type": {"type": "string"},
          "Code": {"type": "string"},
          "DailyRate": {"type": "integer", "format": "int64"},
          "HourlyRate": {"type": "integer", "format": "int64"},
          "IsActive": {"type": "boolean"}
        },
        "required": ["ID", "StoreID", "StoreName", "Type", "Code", "DailyRate", "HourlyRate", "IsActive"]
      },
      "PublicStore": {
        "type": "object",
        "properties": {
          "id": {"type": "string"},
          "name": {"type": "string"},
          "address": {"type": "string"},
          "lat": {"type": "number", "format": "double"},
          "lng": {"type": "number", "format": "double"},
          "locker_count": {"type": "integer"},
          "available_lockers": {"type": "integer"},
          "shelf_count": {"type": "integer"},
          "has_lockers": {"type": "boolean"},
          "has_shelves": {"type": "boolean"}
        },
        "required": [
          "id",
          "name",
          "address",
          "lat",
          "lng",
          "locker_count",
          "available_lockers",
          "shelf_count",
          "has_lockers",
          "has_shelves"
        ]
      },
      "ShopifyRate": {
        "type": "object",
        "properties": {
          "service_name": {"type": "string", "example": "UrbnBox Locker Pickup"},
          "service_code": {"type": "string", "const": "urbnbox_locker"},
          "total_price": {"type": "string", "description": "KES minor units."},
          "currency": {"type": "string", "const": "KES"},
          "min_delivery_date": {"type": "string", "format": "date-time"},
          "max_delivery_date": {"type": "string", "format": "date-time"},
          "description": {"type": "string"}
        },
        "required": [
          "service_name",
          "service_code",
          "total_price",
          "currency",
          "min_delivery_date",
          "max_delivery_date",
          "description"
        ]
      },
      "JSONError": {
        "type": "object",
        "properties": {
          "error": {"type": "string"},
          "message": {"type": "string"}
        },
        "required": ["error", "message"]
      }
    },
    "responses": {
      "BadRequest": {
        "description": "The request body, date, field, or query parameter is invalid.",
        "content": {"text/plain": {"schema": {"type": "string"}}}
      },
      "Unauthorized": {
        "description": "The credential is missing, invalid, or inactive.",
        "content": {"text/plain": {"schema": {"type": "string"}}}
      },
      "Forbidden": {
        "description": "The credential is not authorized for this operation.",
        "content": {"text/plain": {"schema": {"type": "string"}}}
      },
      "NotFound": {
        "description": "The resource does not exist for the authenticated partner.",
        "content": {"text/plain": {"schema": {"type": "string"}}}
      },
      "ServerError": {
        "description": "UrbnBox could not complete the request.",
        "content": {"text/plain": {"schema": {"type": "string"}}}
      }
    }
  }
}
